.hobbies{
    font-family: raleway;
    padding: 4rem;
    background-color: #000000;
}

.hobbies__titulo{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 38px;
}


.hobbies__linea{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.hobbies__caja{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    width: 176px;
    height: 174px;
    background: #ffffff;
}

.hobbies__img{
    width: 40px;
    height: 37px;

}

.hobbies__nombre{
    font-weight: 700;
    line-height: 19px;
}