.hobbies{
    font-family: raleway;
}

.hobbies__titulo{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 38px;
}


.hobbies__linea{
    display: flex;
}

.hobbies__caja{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    background: #ffffff;
    border: solid 1px;
    border-radius: 1rem;
}

.hobbies__img{
    width: 40px;
    height: 37px;
}

.hobbies__nombre{
    font-weight: 700;
    line-height: 19px;
}

@media (min-width:350px){
    .hobbies{
        margin: 3rem 2rem;
    }

    .hobbies__linea{
        margin-top: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: space-between;
    }

    .hobbies__caja{
        width: 39%;
        height: 118px;
    }
}

@media (min-width: 768px) {
    .hobbies__linea{
        margin-top: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;
    }

    .hobbies__caja{
        width: 27%;
        height: 118px;
    }
}

@media (min-width: 1100px) {
    .hobbies{
        margin: 8rem 2rem;
    }

    .hobbies__linea{
            margin-top: 5rem;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 8px;

    }

    .hobbies__caja{
    width: 100%;
    height: 174px;
    }
}