.skills{
    font-family: raleway;
    padding: 64px;
    background-color: black;
}

.skills__titulo{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

.skills__linea{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.skills__caja{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    width: 176px;
    height: 174px;
    background: #ffffff;
}
.skills__img{
    width: 40px;
    height: 37px;
}

.skills__nombre{
    font-weight: 700;
    line-height: 19px;
}