.sobre{
    background: #ffffff;
    font-family: raleway;
    font-weight: 400;
}

.sobre__mi{
    display: flex;
    flex-direction: column;
    padding: 64px;
    gap: 10px;
}

.sobre__titulo{
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
}

.sobre__Descripcion{
    display: flex;
    width: 70%;
    padding: 10px 0;
    line-height: 19px;
}

.sobre__firma{
    width: 200px;
    height: 100px;
}